body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin-top: 50px;
  display:  flex;
  justify-content: center;
}
.formRequestData {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.urlInput {
  min-width: 400px;
}
.submitButton {
  margin-top: 20px;
  height: 2rem;
  width: fit-content;
  background-color: #4CAF50;
  color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.submitButton:hover {
  background-color: #3f8d42;
  color: white;
}
.group > * {
  opacity: 0%;
}
.dots {
  fill:black;
}
.verticalLines {
  stroke: black;
}
.verticalPolygon {
  fill:black;
}
.promptPolygon {
  fill:black;
}

.textPrompt {
fill:white;
}

.group:hover *:not(.verticalPolygon){
  opacity: 80%;
}

.zeroAxis {
  stroke-dasharray: 10 10;
  stroke: black;
  stroke-width: 1px;
}